:root {
  --main-background-color: #ffffff;
  --second-background-color: #2f303a;
  --accent-color: #2196f3;
}

/* Global */

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--main-background-color);
  color: #000000;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}

/* Header */

.logo {
  font-family: 'Raleway', sans-serif;
  color: #000000;
}
.logo > span {
  color: var(--accent-color);
}

.site-nav .link {
  color: #000000;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.contacts .link {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}

/* Footer */

footer {
  background-color: var(--second-background-color);
}
.logo.footer {
  color: var(--main-background-color);
}
.address .link {
  color: var(--main-background-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.46;
  letter-spacing: 0.03em;
}
.address .contacts {
  color: rgba(255, 255, 255, 0.6);
}
